
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* TOP BRAND BANNER START */

#brand-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #36447A;
}

#brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#brand-wrapper img {
    padding-left: 20px;
}

.brand-name {
    display: block;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
    font-size: 2em;
}

.brand-slogan {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #667F9C;
    padding-top: 5px;
}

#brand-contact {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-social {
    display: flex;
    gap: 15px;
    padding-right: 35px;
    border-right: 1px solid #003366;
}

.contact-social svg {
    width: 18px;
    height: 18px;
}

.contact-info {
    display: flex;
    gap: 20px;
    margin-right: 25px;
}

.contact-info svg {
    width: 18px;
    height: 18px;
}

.contact-info span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    font-size: 0.9em;
}

.contact-info span a {
    color: #003366;
    text-decoration: none;
}

.contact-info span a:hover {
    color: #667F9C;
}

/* TOP BRAND BANNER END */

/* PRIMARY NAVIGATION BAR START */

#nav-primary {
    padding: 15px;
    background-color: #F0F8FA;
}

#nav-primary ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1em;
}

#nav-primary ul a {
    text-decoration: none;
    color: black;
}

#nav-primary ul a:hover {
    color: #667F9C;
}

/* PRIMARY NAVIGATION BAR END */

/* HERO SECTION START */

#hero {
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 50vh 1fr;
}

/* BIO START */
#hero-bio {
    background-color: #fbfbfb;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#hero-bio div {
    font-size: 1em;
    line-height: 1.2em;
    padding: 22px;
}

#hero-bio h1 {
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    border-left: 5px solid #003366;
    padding: 10px 25px;
    margin-top: 35px;
    margin-left: 22px;
}

#hero-bio img {
    width: 40vw;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

/* BIO END */

/* HERO PRIMARY NAVIGATION START */

#hero-nav-primary ul {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 25% 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

#hero-nav-primary ul li {
    text-align: center;
    align-content: center;
}

#hero-nav-primary ul li:first-of-type {
    grid-column: 1/ span 1;
    grid-row: 1 / span 2;
}

#hero-nav-primary ul li:last-of-type {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

.tint-nav-primary {
    position: relative;
    overflow: hidden;
}

.tint-nav-primary::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-color 0.3s ease, transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.tint-nav-primary:hover::before {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0);
}

#hero-nav-primary ul li:first-of-type::before {
    background-image: url("https://cdn.pixabay.com/photo/2022/01/26/17/07/renault-6969346_1280.jpg");
}

#hero-nav-primary ul li:last-of-type::before {
    background-image: url("https://cdn.pixabay.com/photo/2022/08/01/12/24/people-7358064_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(2)::before {
    background-image: url("https://cdn.pixabay.com/photo/2020/05/30/18/05/recovery-5239843_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(3)::before {
    background-image: url("https://images.unsplash.com/photo-1430285561322-7808604715df?auto=format&fit=crop&w=800&q=80");
}

#hero-nav-primary ul li:nth-of-type(4)::before {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/30/15/30/credit-4516068_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(5)::before {
    background-image: url("https://cdn.pixabay.com/photo/2024/01/29/10/18/law-8539435_1280.jpg");
}

#hero-nav-primary ul li a {
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    line-height: 1.4em;
    font-weight: 500;
    padding: 50px 0px;
}

/* HERO PRIMARY NAVIGATION END */

/* RECRUITMENT START */

#hero-recruitment h1, #hero-recruitment h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003366;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: 0.1em;
}

#hero-recruitment {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
}

#hero-recruitment h2 {
    font-size: 1.2em;
    padding: 20px;
    
}

#hero-recruitment div {
    padding: 20px;
}

#hero-recruitment div p {
    line-height: 1.7;
}

#hero-recruitment div:first-of-type {
    grid-column: 1 / span 2;
    font-size: 1.7em;
    text-align: center;
    padding: 15px;
    border-bottom: 2px dashed #003366;
}

#hero-recruitment div:nth-of-type(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #F0F8FA;
}

#hero-recruitment div:nth-of-type(3) {
    grid-column: 2 / span 1;
    background-color: #F0F8FA;
}

#hero-recruitment div:nth-of-type(4) {
    grid-column: 1 / span 2;
    background-color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.3em;
    border-top: 2px dashed #003366;
    border-bottom: 2px dashed #003366;
}

#hero-recruitment div:last-of-type {
    grid-column: 1 / span 2;
    background-image: url("https://cdn.pixabay.com/photo/2020/01/21/17/17/hr-process-4783430_1280.png");
    background-size: cover;
    background-position: center;
}

#hero-recruitment div:last-of-type p {
    font-size: 1em;
    color: #36447A;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: rgba(240, 248, 250, 0.89);
    padding: 25px 30px 40px 30px;
}

#hero-recruitment div:last-of-type p:last-of-type {
    text-align: center;
    padding: 5px 30px 10px 30px;
}

#hero-recruitment div:last-of-type h2 {
    font-size: 1.3em;
    color: #003366;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: rgba(240, 248, 250, 0.89);
    padding: 10px 
}

/* RECRUITMENT BUTTON START */

#recruitment-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.5rem;
    min-width: 200px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
            
    background: rgba(0, 51, 102, 1);
    border: 0.5px solid rgba(0, 51, 102, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
            
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
            
    /* ANIMATION */
    transition: 
        background 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        border 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        letter-spacing 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
}

#recruitment-button:hover {
    background: rgba(0, 51, 102, 0.5);
    border-color: rgba(0, 51, 102, 0.6);
    transform: translateY(-4px) scale(1.01);
    letter-spacing: 0.3em;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

#recruitment-button:active {
    transform: translateY(-1px) scale(0.97);
    background: rgba(0, 51, 102, 0.15);
    transition: transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}

/* GLINT */
#recruitment-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    background: rgba(0, 51, 102, 0.2);
    transform: rotate(30deg);
    pointer-events: none;
}

#recruitment-button:hover::after {
    left: 140%;
    transition: all 0.7s cubic-bezier(0.3, 1, 0.5, 1);
}

/* RECRUITMENT BUTTON END */

.highlight {
    color: #F7C40D;
}

/* RECRUITMENT END */

/* HERO SECONDARY NAVIGATION START */

#hero-nav-secondary div {
    padding: 20px;
    background-color: #F0F8FA;
    text-align: center;
    font-size: 1.2em;
    color: #003366;
    border-top: 2px solid #003366;
}

#hero-nav-secondary {
    grid-column: 1 / span 2;
}

#hero-nav-secondary ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#hero-nav-secondary ul li {
    text-align: center;
    background-position: center;
    background-size: cover;
}

#hero-nav-secondary ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1.3em;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    padding: 20px;
}

#hero-nav-secondary ul li a p {
    padding: 40px;
}

.tint-nav-secondary {
    position: relative;
    overflow: hidden;
}

.tint-nav-secondary::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-color 0.3s ease, transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.tint-nav-secondary:hover::before {
    transform: scale(1.4);
    background-color: rgba(0, 0, 0, 0);
}

#hero-nav-secondary ul li:first-of-type::before {
    background-image: url("https://cdn.pixabay.com/photo/2014/12/10/20/48/laboratory-563423_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(2)::before {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/06/49/woman-1867908_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(3)::before {
    background-image: url("https://cdn.pixabay.com/photo/2021/09/07/11/53/car-6603726_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(4)::before {
    background-image: url("https://cdn.pixabay.com/photo/2013/12/13/21/13/plumber-228010_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(5)::before {
    background-image: url("https://cdn.pixabay.com/photo/2018/05/11/23/45/highway-3392100_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(6)::before {
    background-image: url("https://cdn.pixabay.com/photo/2019/05/05/18/58/girl-4181395_1280.jpg");
}

#hero-nav-secondary ul li:nth-of-type(7)::before {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/09/08/20/auto-3734396_1280.jpg");
}

#hero-nav-secondary ul li:last-of-type::before {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/27/07/51/solar-panels-2685357_1280.jpg");
}

/* HERO SECONDARY NAVIGATION END */

/* HERO SECTION END */

/* CONTACT SECTION */

#contact {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    
}

#contact div:first-of-type {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: #F0F8FA;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003366;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #003366;
}

#contact div:nth-of-type(2), #contact div:nth-of-type(3), #contact div:nth-of-type(4) {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    padding: 40px 20px;
}

#contact div:nth-of-type(5), #contact div:nth-of-type(6), #contact div:nth-of-type(7) {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #36447A;
}


#contact div:nth-of-type(5) p svg, #contact div:nth-of-type(6) p svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    color: #003366;
}

#contact div:nth-of-type(5)>a svg {
    width: 54px;
    height: 54px;
    margin-top: 30px;
}

#contact div:nth-of-type(7) svg {
    width: 54px;
    height: 54px;
}

#email-copy svg:first-of-type, #email-copy svg:last-of-type, #phone-copy svg:first-of-type, #phone-copy svg:last-of-type {
    width: 18px !important;
    height: 18px !important;
}

/* CONTACT SECTION END */