
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* TOP BRAND BANNER START */

#brand-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #36447A;
}

#brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#brand-wrapper img {
    padding-left: 20px;
}

.brand-name {
    display: block;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
    font-size: 2em;
}

.brand-slogan {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #667F9C;
    padding-top: 5px;
}

#brand-contact {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-social {
    display: flex;
    gap: 15px;
    padding-right: 35px;
    border-right: 1px solid #003366;
}

.contact-social svg {
    width: 18px;
    height: 18px;
}

.contact-info {
    display: flex;
    gap: 20px;
    margin-right: 25px;
}

.contact-info svg {
    width: 18px;
    height: 18px;
}

.contact-info span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    font-size: 0.9em;
}

.contact-info span a {
    color: #003366;
    text-decoration: none;
}

.contact-info span a:hover {
    color: #667F9C;
}

/* TOP BRAND BANNER END */

/* PRIMARY NAVIGATION BAR START */

#nav-primary {
    padding: 15px;
    background-color: #F0F8FA;
}

#nav-primary ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1em;
}

#nav-primary ul a {
    text-decoration: none;
    color: black;
}

#nav-primary ul a:hover {
    color: #667F9C;
}

/* PRIMARY NAVIGATION BAR END */

/* HERO SECTION START */

#hero {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 40% 1fr;
}

/* BIO START */
#hero-bio {
    background-color: #fbfbfb;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#hero-bio div {
    font-size: 1em;
    line-height: 1.2em;
    padding: 22px;
}

#hero-bio h2 {
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    border-left: 5px solid #003366;
    padding: 10px 25px;
    margin-top: 35px;
    margin-left: 22px;
}

#hero-bio img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

/* BIO END */

/* HERO PRIMARY NAVIGATION START */

#hero-nav-primary ul {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 25% 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

#hero-nav-primary ul li {
    text-align: center;
    align-content: center;
}

#hero-nav-primary ul li:first-of-type {
    grid-column: 1/ span 1;
    grid-row: 1 / span 2;
}

#hero-nav-primary ul li:last-of-type {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

#hero-nav-primary ul li:first-of-type, #hero-nav-primary ul li:last-of-type,
#hero-nav-primary ul li:nth-of-type(2), #hero-nav-primary ul li:nth-of-type(3),
#hero-nav-primary ul li:nth-of-type(4), #hero-nav-primary ul li:nth-of-type(5) {
    position: relative;
    overflow: hidden;
}

#hero-nav-primary ul li:first-of-type::before, #hero-nav-primary ul li:last-of-type::before,
#hero-nav-primary ul li:nth-of-type(2)::before, #hero-nav-primary ul li:nth-of-type(3)::before,
#hero-nav-primary ul li:nth-of-type(4)::before, #hero-nav-primary ul li:nth-of-type(5)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-color 0.3s ease, transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#hero-nav-primary ul li:first-of-type:hover::before, #hero-nav-primary ul li:last-of-type:hover::before,
#hero-nav-primary ul li:nth-of-type(2):hover::before, #hero-nav-primary ul li:nth-of-type(3):hover::before,
#hero-nav-primary ul li:nth-of-type(4):hover::before, #hero-nav-primary ul li:nth-of-type(5):hover::before {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0);
}

#hero-nav-primary ul li:first-of-type::before {
    background-image: url("https://images.unsplash.com/photo-1706589271043-e6e233c9057d?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#hero-nav-primary ul li:last-of-type::before {
    background-image: url("https://cdn.pixabay.com/photo/2022/08/01/12/24/people-7358064_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(2)::before {
    background-image: url("https://cdn.pixabay.com/photo/2020/05/30/18/05/recovery-5239843_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(3)::before {
    background-image: url("https://images.unsplash.com/photo-1430285561322-7808604715df?auto=format&fit=crop&w=800&q=80");
}

#hero-nav-primary ul li:nth-of-type(4)::before {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/30/15/30/credit-4516068_1280.jpg");
}

#hero-nav-primary ul li:nth-of-type(5)::before {
    background-image: url("https://cdn.pixabay.com/photo/2024/01/29/10/18/law-8539435_1280.jpg");
}

#hero-nav-primary ul li a {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 50px 0px;
}

#hero-nav-primary ul li:first-of-type a {
    padding: 140px 50px;
}

#hero-nav-primary ul li:last-of-type a {
    padding: 140px 0px;
}


/* HERO PRIMARY NAVIGATION END */

/* RECRUITMENT START */

#hero-recruitment h2, #hero-recruitment h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003366;
    font-weight: bold;
}

#hero-recruitment {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    /* border-top: 4px solid #F7C40D; */
}

#hero-recruitment h3 {
    font-size: 1.2em;
}

#hero-recruitment h2 {
    padding: 20px;
}

#hero-recruitment div {
    padding: 20px;
}

#hero-recruitment div p {
    line-height: 1.7;
}

#hero-recruitment div:first-of-type {
    grid-column: 1 / span 2;
    font-size: 1.7em;
    text-align: center;
    padding: 15px;
    border-bottom: 2px dashed #003366;
}

#hero-recruitment div:nth-of-type(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #F0F8FA;
}

#hero-recruitment div:nth-of-type(3) {
    grid-column: 2 / span 1;
    background-color: #F0F8FA;
}

#hero-recruitment div:nth-of-type(2) h3, #hero-recruitment div:nth-of-type(3) h3 {
    margin-bottom: 15px;
}

#hero-recruitment div:nth-of-type(4) {
    grid-column: 1 / span 2;
    background-color: white;
    text-align: center;
    padding: 12px;
    border-top: 2px dashed #003366;
    border-bottom: 2px dashed #003366;
}

#hero-recruitment div:last-of-type {
    grid-column: 1 / span 2;
    background-image: url("https://cdn.pixabay.com/photo/2020/01/21/17/17/hr-process-4783430_1280.png");
    background-size: cover;
    background-position: center;
}


#hero-recruitment div:first-of-type span, #hero-recruitment div:nth-child(4) span {
    color: #F7C40D;
}


/* RECRUITMENT END */

/* HERO SECONDARY NAVIGATION START */

#hero-nav-secondary {
    grid-column: 1 / span 2;
    /* border: 1px solid red; */
}

/* HERO SECONDARY NAVIGATION END */

/* HERO SECTION END */